<!DOCTYPE html>
<html lang="ko" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
    <style>
    .board-header {
        color:white;
        background-color:gray;
        
    }
    .board-body .board-row{
        border-top: 1px solid black;
    }
    </style>
</head>

<body class="d-flex flex-column h-100">
    <%include ../header %>

        <!-- Begin page content -->
        <main role="main" class="flex-shrink-0">
            <div class="container">
                <h1 class="mt-5">공지사항</h1>
                <!--<%
                var title_json = {num:"번호", title:"제목",uploader:"유저",upload_date:"업로드"};
                var width_json = {num:1, title:8, uploader:1, upload_date:2};
                if(user != undefined) {
                    if(user.is_admin == true) {
                        width_json.title -= width_json.num;
                    }
                }
                %>
                <div class="d-flex board-header">
                    <%if(user != undefined && user.is_admin == true) {%>
                        <div class="p-2 text-center" style="width:30px;">
                            <input type="checkbox" id="checkall">
                        </div>
                    <%}%>
                    <div class="p-2 text-center" style="width:50px">
                        번호
                    </div>
                    <div class="p-2 flex-grow-1 text-truncate text-center">제목</div>
                    <div class="p-2 text-center" style="width:150px">작성자</div>
                    <div class="p-2 text-center" style="width:100px">날짜</div>
                </div>
                <div class="board-body">
                <%for(var i=0; i<result.length;i++) {%>
                    <div class="d-flex board-row d-row" data-num=<%=result[i].num%>>
                    <%if(user != undefined && user.is_admin == true) {%>
                        <div class="p-2 text-center" style="width:30px;">
                            <input type="checkbox" class="boardcheck">
                        </div>
                    <%}%>
                        <div class="p-2 text-center" style="width:50px">
                            <%=result[i].num%>
                        </div>
                        <div class="p-2 flex-grow-1 text-truncate"><%=result[i].title%></div>
                        <div class="p-2 text-center" style="width:150px"><%=result[i].uploader%></div>
                        <div class="p-2 text-center" style="width:100px"><%=result[i].upload_date%></div>
                    </div>
                <%}%>
                </div>-->
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <%if(user != undefined && user.is_admin == true) {%>
                                <th class="text-center" style="width:30px;">
                                    <input type="checkbox" id="checkall">
                                </th>
                            <%}%>
                            <th scope="col" class="text-center" style="width:100px;">번호</th>
                            <th scope="col" class="text-center">제목</th>
                            <th scope="col" class="text-center" style="width:150px">작성자</th>
                            <th scope="col" class="text-center" style="width:120px">날짜</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%if(result.length != 0) {%>
                            <%for(var i=0; i<result.length;i++) {%>
                                <tr class="board-row" data-num=<%=result[i].num%>>
                                    <%if(user != undefined && user.is_admin == true) {%>
                                        <th scope="row" class="checkth"><input type="checkbox" class="boardcheck"></th>
                                    <%}%>
                                    <th scope="row" class="text-center"><%=result[i].num%></th>
                                    <td class=""><%=result[i].title%></td>
                                    <td class="text-center"><%=result[i].uploader%></td>
                                    <td class="text-center"><%=result[i].upload_date%></td>
                                </tr>
                            <%}%>
                        <%} else {%>
                            <tr class="board-row">
                                <td>게시글이 없습니다</td>
                            </tr>
                        <%}%>
                    </tbody>
                </table>
                <%if(user != undefined) {%>
                    <%if(user.is_admin == true) {%>
                        <form method="post" id="boardForm">
                            <button type="button" class="btn btn-primary" id="write_btn">글 작성</button>
                            <button type="button" class="btn btn-danger" id="delete_btn">글 삭제</button>
                        </form>
                        <script>
                            var board_del_array = [];
                            $("#write_btn").click(function() {
                                //$("#boardForm").attr({"action" : "notice/new","method" : "get"}).submit();
                                submit_helper($("#boardForm"), "notice/new", "get", undefined);
                            });
                            $("#delete_btn").click(function() {
                                var array = [];
                                $(".boardcheck").each(function(index, item) {
                                    if(item.checked == true) {
                                        //board_del_array.push($(this).parents(".board-row").data("num"));
                                        array.push($(this).parents(".board-row").data("num"));
                                    }
                                });
                                board_del_array = array;
                                console.log(board_del_array);
                                if(board_del_array.length != 0) {
                                    var del_c = confirm(board_del_array.length + "개의 글을 삭제합니다. 계속하시겠습니까?");
                                    if(del_c) {
                                        //$("#boardFrom").attr({"action" : "notice/array/" + board_del_array, "method": "delete"}).submit();
                                        submit_helper($("#boardForm"), "cart/array/" + board_del_array, "delete", undefined);
                                    }
                                } else {
                                    alert("게시물이 선택되어 있지 않습니다");
                                }
                            });
                            $(".boardcheck").on({
                                click: function(event) {
                                    event.stopPropagation();
                                }
                                /*change: function() {
                                    board_del_array.push($(this).parents(".board-row").data("num"));
                                }*/
                            });
                            $("#checkall").change(function() {
                                $(".boardcheck").prop('checked', this.checked);
                                /*$(".boardcheck").prop('checked', this.checked).each(function(index, item) {
                                    $(this).trigger("click");
                                })*/
                            });
                            function submit_helper(formobj, action, method, data) {
                                if(method == "put" || method == "delete") {
                                    //document.createElement()
                                    //formobj.append("<input type='hidden' name='_method' value='" + method +"' />");
                                    action += "/?_method=" + method;
                                    method = "post";
                                }
                                
                                formobj.attr({"action" : action, 'method' : method});
                                console.log(action);
                                formobj.submit();
                            }
                            $("th.checkth").click(function(event) {
                                $(this).children(".boardcheck").trigger("click");
                                event.stopPropagation();
                            });
                        </script>
                    <%}%>
                <%}%>
                </div>
            </div>
        </main>
        <script>
            $('table tbody tr').not("th.checkth").click(function() {
                // row was clicked
                location.href = "notice/" + $(this).data("num");
            });
            
        </script>
        <%include ../footer %>

</body>

</html>
