<!DOCTYPE html>
<html lang="ko" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>

<body class="d-flex flex-column h-100" onload="init();">
    <%include ../header %>

        <!-- Begin page content -->
        <main role="main" class="flex-shrink-0">
            <div class="container">
                <h1 class="mt-5">글수정</h1>
                <form action="/test" method="post" id="boardmodifyForm" autocomplete="off" novalidate enctype="multipart/form-data">
                    <table class="table">
                        <tr>
                            <td>
                                <label for="title_input">제목<span class="require">*</span></label>
                            </td>
                            <td>
                                <input type="text" name="title" id="title_input" class="form-control" <%if(result.title !=undefined) {%> value="<%=result.title%>"<%}%> />
                                        <div class="valid-feedback"></div>
                                        <div class="invalid-feedback"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="content_input">내용</label>
                            </td>
                            <td>
                                <textarea name="content" class="form-control" id="content_input"><%if(result.content != undefined) {%><%=result.content%><%}%></textarea>
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="file_input">이미지</label>
                            </td>
                            <td>
                                <div class="custom-file">
                                    <input type="file" name="file" class="custom-file-input" id="file_input" required accept="image/*">
                                    <label class="custom-file-label" for="file_input" data-browse="선택">파일 선택...</label>
                                    <small id="fileHelp" class="form-text text-muted">3MB 미만의 이미지 파일만 업로드 가능합니다.</small>
                                    <div class="invalid-feedback"></div>
                                    <div class="valid-feedback"></div>
                                </div>
                                <%if(result.img_original != undefined || result.img_original == "") {%>
                                    저장된 파일 : <%=result.img_original%>
                                    <img src="<%=result.img_src%>" style="height:100px;">
                                <%}%>
                            </td>
                        </tr>
                    </table>
                    <div>
                        <input type="button" value="글수정" id="modifyBtn" class="btn btn-primary" />
                    </div>
                </form>
                <script src="/js/bs-custom-file-input.min.js"></script>
                <script src="/javascripts/valid.js"></script>
                 <script>
                    $(document).ready(function () {
                        bsCustomFileInput.init();
                    });
                </script>
                <script>
                    //자바스크립트 유효성검사부분 넣어야함
                    $("#title_input").focusout(function() {
                        boardtitle_valid($(this));
                    });

                    $("#content_input").focusout(function() {
                        boardcontent_valid($(this));
                    });

                    $("#modifyBtn").click(function(e) {
                        //$("#boardmodifyForm").submit();
                        submit_helper($("#boardmodifyForm"), "/test/" + <%= result.num %> , "put", undefined);
                    });

                    function submit_helper(formobj, action, method, data) {
                        if (method == "put" || method == "delete") {
                            //document.createElement()
                            //formobj.append("<input type='hidden' name='_method' value='" + method +"' />");
                            action += "/?_method=" + method;
                            method = "post";
                        }

                        formobj.attr({ "action": action, 'method': method });
                        formobj.submit();
                    }
                </script>
                <script type="text/javascript">
                    var observe;
                    if (window.attachEvent) {
                        observe = function(element, event, handler) {
                            element.attachEvent('on' + event, handler);
                        };
                    }
                    else {
                        observe = function(element, event, handler) {
                            element.addEventListener(event, handler, false);
                        };
                    }

                    function init() {
                        //var text = document.getElementById('text');

                        var text = document.getElementById('content_input');

                        //var text = $(".comment-input");
                        function resize() {
                            text.style.height = 'auto';
                            var maxheight = 400;
                            if(text.scrollHeight >= maxheight) {
                                text.style.overflowY="scroll";
                                text.style.height = maxheight + 'px';
                            } else {
                                text.style.overflow="hidden";
                                text.style.height = text.scrollHeight + 'px';
                            }
                        }
                        /* 0-timeout to get the already changed text */
                        function delayedResize() {
                            window.setTimeout(resize, 0);
                        }
                        observe(text, 'change', resize);
                        observe(text, 'cut', delayedResize);
                        observe(text, 'paste', delayedResize);
                        observe(text, 'drop', delayedResize);
                        observe(text, 'keydown', delayedResize);

                        text.focus();
                        text.select();
                        resize();
                    }
                </script>
            </div>
        </main>

        <%include ../footer %>

</body>

</html>
